<center>
    <mat-form-field>
        <mat-label>Username</mat-label>
        <input matInput [(ngModel)]="data.username" type="email" id="usernameInput">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput [(ngModel)]="data.password" type="password" id="passwordInput">
    </mat-form-field>

    <button mat-stroked-button id="loginButton" (click)="login()">Login</button>

    <button mat-stroked-button id="cancelButton" (click)="cancel()">Cancel</button>
</center>
