<!doctype html>

<html lang="it">
<head>
  <meta charset="utf-8">

  <title>{{ title }}</title>

</head>

<body>

  <mat-toolbar color="primary">
    <mat-icon aria-hidden="false"></mat-icon>
    <span>{{ title }}</span>
  </mat-toolbar>


  <mat-toolbar color="light-gray"></mat-toolbar>


  <mat-sidenav-container>

    <mat-sidenav>
      <div class="container">
        <mat-nav-list>
          <mat-list-item>

          </mat-list-item>
        </mat-nav-list>
      </div>
    </mat-sidenav>

    <mat-sidenav-content>
      <mat-tab-group>
        <mat-tab label="Studenti">
          <div class="container">

          </div>
        </mat-tab>
        <mat-tab label="Gruppi">
          <div class="container">

          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-sidenav-content>

  </mat-sidenav-container>

</body>
</html>