<!doctype html>

<html lang="it">
<head>
  <base href="/">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">

  <title>{{ title }}</title>


</head>

<body>

  <mat-toolbar id="toolbar" color="primary">
    <mat-icon id="toolbar-icon" aria-hidden="false" (click)="toggleForMenuClick($event)">menu</mat-icon>
    <span id="toolbar-title">{{ title }}</span>
    <span class="example-fill-remaining-space"></span>
    <button mat-button id="button-login" (click)="openDialog()">Login</button> 
  </mat-toolbar>


  <mat-toolbar color="light-gray">
    <span>{{ section }}</span>
  </mat-toolbar>


  <mat-sidenav-container id="container">

    <mat-sidenav mode="side" opened="true" position="start">
      <div class="container">
        <mat-nav-list>
          <mat-list-item *ngFor="let sidenavOption of sidenavOptions" (click)="changeSection(sidenavOption)">
            {{ sidenavOption }}
          </mat-list-item>
        </mat-nav-list>
      </div>
    </mat-sidenav>

    <mat-sidenav-content>
      <nav mat-tab-nav-bar>
        <a mat-tab-link 
            [routerLink]="['teacher/course/applicazioni-internet/students']"
            routerLinkActive="active">
          Students
        </a>
        <a mat-tab-link
            [routerLink]="['teacher/course/applicazioni-internet/vms']"
            routerLinkActive="active">
          VMs
        </a>
      </nav>
      <router-outlet></router-outlet>
    </mat-sidenav-content>

  </mat-sidenav-container>
  

</body>
</html>