#table-students { 
    width: 100%; 
    height: 100%; 
}

#button-delete {
    margin: 5px;
    display: block;
}

#addStudent {
    display: block;
}

#addStudent-input {
    margin: 10px 10px;
    min-width: 350px;
}

#button-add {
    margin: 5px;
}

#container {
    margin-top: 0px;
}